.history
node_modules
dist
.env
.vscode
.DS_Store
coverage
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.pnp.js
.pnp.cjs
.idea
*.iml
*.log
.cache
out
build
sessions/
server.log
pycache/
*.pyc
*.pyo
*.pyd
__pycache__/
.ipynb_checkpoints
.github