body {
    font-family: Arial, sans-serif;
    background-color: #003479;
    color: #ffffff;
    margin: 0;
    padding: 0;
}

h1 {
    color: #f09d9a !important;
    text-align: center;
    margin-top: 50px;
}